// TYPOGRAPHY GLOBAL RULES

html{ 
    font-size: 62.5%;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

// IMPORT LATO FONT

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
$lato: 'Lato', sans-serif;

body {
    font-family: $lato;
    font-weight: 300;
    color: $black;
}